body
{
font-family: 'Special Elite',cursive;
background: #f5dbda;

}

.header_div
  {
  background: white;
  color: #ce2700; 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button {
      font-family: 'roboto',sans-serif;
      margin-top:30px;
      width: 130px;
      font-weight: bolder;
      letter-spacing: 3px;
  }

  .copy_right_footer {
    position: fixed;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #272626;
    line-height: 3;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(109, 107, 107);
 }